<footer style="text-align: center; padding: 5px; color: #FF6421; background: #B2B2B2">
  <p>
    Copyright &copy; 2014
    <%= link_to 'The Pragmatic Studio','http://pragmaticstudio.com' %>
  </p>
</footer>