<aside style="background: #B2B2B2;
				width: 200px;
				float: right">
<nav>
	<ul>
		<li>
			<%= link_to "All Projects", projects_path %>
			
		</li>
		<li>
			<%= link_to "Add New Project", new_project_path %>
		</li>
	</ul>
</nav>
</aside>